/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 22, 2023, 12:25:57 AM
    Author     : xande
*/
        body {
            background-color: #0a0a0a !important;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            margin-bottom: 20px;
            color: #96877e;
        }
        
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        .slideShow{
            width: 100%;
            height: 100vh;
            display: flex;
            animation: bg-Slide 10s linear infinite;
            background-repeat: no-repeat;
            background-size: 100% auto;
        }
        @keyframes bg-Slide {
            0% {
                background-image: url('../img/headlines/tshirt.png');
            }
            50% {
                background-image: url('../img/headlines/headline1.png');
            }
            80% {
                background-image: url('../img/headlines/headline2.png');
            }
            100% {
                background-image: url('../img/headlines/tshirt.png'); /* Reset to the initial state */
            }
        }

        /* Apply the animation to an element */
        .element {
            animation-name: bg-Slide;
            animation-duration: 4s; /* Adjust the duration as needed */
            animation-iteration-count: infinite; /* Loop indefinitely */
        }
        .container-sm {
            max-width: 800px;
            margin: 0 auto;
            text-align: center;
        }

        .image-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
            margin-top: 20px;
        }

        .image {
            display: flex;
            flex-direction: column;
        }

        .image img {
            width: 100%;
            height: auto;
        }

        .image:nth-child(1) {
            grid-column: 1 / span 2;
        }

        .image:nth-child(2) {
            grid-row: 2 / span 1;
            grid-column: 1 / span 1;
        }

        .image:nth-child(3) {
            grid-row: 2 / span 1;
            grid-column: 2 / span 1;
        }

        .image:nth-child(4) {
            grid-column: 1 / span 3;
        }
        .rotate-image-container {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
        }

        .rotate-image {
            display: flex;
            align-items: flex-end;
            justify-content: center;
        }

        .rotate-image img {
            animation: rotate 4s infinite linear;
            width: 50px;
            height: 50px;
            margin-bottom: 10px;
        }

        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
       