/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 22, 2023, 12:21:14 AM
    Author     : xande
*/

 *{
            color: #96877e;
        }
        .card {
            width: 400px;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            text-align: center;
            display: flex;
            justify-content: center;
        }

        .card-header {
            padding: 10px;
            text-align: center;
            border-radius: 5px 5px 0 0;
        }

        form {
            margin-top: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input[type="number"],
        input[type="text"] {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-bottom: 10px;
        }

        input[type="submit"] {
            background-color: #000;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            display: block;
            margin: 0 auto;
        }

        input[type="submit"]:hover {
            background-color: #2b2b2b;
        }

        body {
            background-image: url(../img/background.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            margin-bottom: 20px;
        }
        header {
            display: flex;
            justify-content: center;
        }

         header nav .container .navbar-brand {
            color: white;
            font-size: 50px;
        }
        
        #userrole {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-bottom: 10px;
            font-weight: bold;
            color: black;
            text-align: center;
        }