

body {
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 10px;
}
.card {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
header {
    display: flex;
    justify-content: center;
}

header nav .container .navbar-brand {
    color: white;
    font-size: 50px;
}