/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 21, 2023, 5:37:29 AM
    Author     : xande
*/
     
body {
            background-image: url("../img/background.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            margin-bottom: 10px;
        }
        
        header {
            display: flex;
            justify-content: center;
        }

        header nav .container .navbar-brand {
            color: white;
            font-size: 50px;
        }

        .card {
            text-align: center;
            display: flex;
            justify-content: center;
            margin-top: 40px;
        }
        input[type="text"] {
            text-align: justify;
        }