<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Customer</servlet-name>
        <servlet-class>ph.pup.itech.metrothrift.controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Product</servlet-name>
        <servlet-class>ph.pup.itech.metrothrift.controller.Product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductSearch</servlet-name>
        <servlet-class>ph.pup.itech.metrothrift.controller.ProductSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>ph.pup.itech.metrothrift.controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add</servlet-name>
        <servlet-class>ph.pup.itech.metrothrift.controller.RDTproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>ph.pup.itech.metrothrift.controller.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserForm</servlet-name>
        <servlet-class>ph.pup.itech.metrothrift.controller.RDTUserForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegForm</servlet-name>
        <servlet-class>ph.pup.itech.metrothrift.controller.RDTRegistrationForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationForm</servlet-name>
        <servlet-class>ph.pup.itech.metrothrift.controller.RegistrationForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Customer</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Product</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductSearch</servlet-name>
        <url-pattern>/productSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/products/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserForm</servlet-name>
        <url-pattern>/user/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegForm</servlet-name>
        <url-pattern>/customer/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationForm</servlet-name>
        <url-pattern>/RegistrationForm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>log-in-page.jsp</welcome-file>
        <welcome-file>log-in-page.jsp</welcome-file>
    </welcome-file-list>
</web-app>
